.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: orange;
  border-radius: 50px 0px 0px 50px;
  span {
    font-size: 32px;
    margin-left: 16px;
  }
  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}
