.player {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  border-radius: 0px 0px 50px 50px;
  span {
    font-size: 14px;
  }
  img {
    margin-top: 16px;
    object-fit: cover;
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
  }
}

.player-active {
  background-color: orange !important;
}
